.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-decoration: underline;
  font-style: italic;
  font-family: "Georgia", "Times New Roman", serif;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: end;
  gap: 5px;
  width: 30px;
  height: 25px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.burgerLine {
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burgerOpen .burgerLine:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.burgerOpen .burgerLine:nth-child(2) {
  opacity: 0;
}

.burgerOpen .burgerLine:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

.navbar {
  width: 100%;
  z-index: 1000;
  margin: 0;
  padding: 0;
  display: flex;
}

.navLinks {
  background-color: rgba(255, 255, 255, 0);
  list-style: none;
  margin: clamp(0.5rem, 3vw, 1.5rem) auto 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  gap: 20px;
}

.navLinks li {
  margin: 0 0.5rem;
}

.navLinks a {
  text-decoration: none;
  font-size: 1.25rem;
  font-style: italic;
  font-family: "Georgia", "Times New Roman", serif;
  color: #333;
  font-weight: 500;
  transition: all 0.2s ease;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
}

.navLinks a:hover {
  background-color: #13a71590;
  color: #000;
}

@media screen and (max-width: 768px) {
  .burger {
    display: flex;
  }

  .navbar {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.3);
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: flex-end;
    padding: 1rem;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
  }

  .navbarOpen {
    transform: translateX(0);
  }

  .navLinks {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
  }

  .navLinks li a {
    font-size: 1.2rem;
  }
}
