.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}

.heroImageSection {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.heroImage {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}
